---
import Layout from '@/layouts/Layout.astro'
---

<Layout title=`Teaching & Lab | ${fullName}`>
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Teaching & Lab</h1>

    <div class="mb-12">
      <p class="text-lg mb-6">
      あ
      </p>
    </div>
