---
import Layout from '@/layouts/Layout.astro'
import { profile } from "@/settings";
const { fullName } = profile
import { getCollection } from 'astro:content';

const allSections = await getCollection('teaching');
const sortedSections = allSections.sort((a, b) => a.data.order - b.data.order);
---

<Layout title=`Teaching & Lab | ${fullName}`>
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Teaching & Lab</h1>
    <h2 class="text-xl text-primary font-medium mb-8">教育・研究室指導</h2>

  {sortedSections.map(async (section) => {
    const { Content } = await section.render();
    return (
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-12 border-t border-base-300 pt-8">
          <div class="md:col-span-1">
            <span class="badge badge-outline mb-2">{section.data.tag}</span>
            <h3 class="text-xl font-bold">{section.data.title}</h3>
          </div>
          <div class="md:col-span-3">
            <div class="prose prose-sm max-w-none text-base-content/90 prose-headings:text-primary">
              <Content />
            </div>
          </div>
        </div>
      );
    })}
  </div>
</Layout>
